main section#contacts {

  p {
    padding: $padding_unit * 2 0;
  }

 ul {
   padding: $padding_unit 0;

   li {

     a {
       display: inline-block;
       padding: $padding_unit / 2 0;
     }
   }
 }
}
