// ---------------------------  Variables ----------------------------

// Font
$font_size: 18px;
$font_weight: 600;

// Colors
$primary_color: #0B4C5F;
$secondary_color: #BDBDBD;
$third_color: #F2F2F2;

// Dimensions
$card_width: 280px;

// Margins & Padding
$margin_unit: 10px;
$padding_unit: 20px;
